ClientWindowsFormsApplication/Service References/ServiceReference/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:59463/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:59463/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_CreateEmpty_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateEmpty" />
  </wsdl:message>
  <wsdl:message name="IService_CreateEmpty_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateEmptyResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Create_InputMessage">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="IService_Create_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Read_InputMessage">
    <wsdl:part name="parameters" element="tns:Read" />
  </wsdl:message>
  <wsdl:message name="IService_Read_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Write_InputMessage">
    <wsdl:part name="parameters" element="tns:Write" />
  </wsdl:message>
  <wsdl:message name="IService_Write_OutputMessage">
    <wsdl:part name="parameters" element="tns:WriteResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Append_InputMessage">
    <wsdl:part name="parameters" element="tns:Append" />
  </wsdl:message>
  <wsdl:message name="IService_Append_OutputMessage">
    <wsdl:part name="parameters" element="tns:AppendResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Move_InputMessage">
    <wsdl:part name="parameters" element="tns:Move" />
  </wsdl:message>
  <wsdl:message name="IService_Move_OutputMessage">
    <wsdl:part name="parameters" element="tns:MoveResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Copy_InputMessage">
    <wsdl:part name="parameters" element="tns:Copy" />
  </wsdl:message>
  <wsdl:message name="IService_Copy_OutputMessage">
    <wsdl:part name="parameters" element="tns:CopyResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ReadData_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadData" />
  </wsdl:message>
  <wsdl:message name="IService_ReadData_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService_MoveData_InputMessage">
    <wsdl:part name="parameters" element="tns:MoveData" />
  </wsdl:message>
  <wsdl:message name="IService_MoveData_OutputMessage">
    <wsdl:part name="parameters" element="tns:MoveDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService_CopyData_InputMessage">
    <wsdl:part name="parameters" element="tns:CopyData" />
  </wsdl:message>
  <wsdl:message name="IService_CopyData_OutputMessage">
    <wsdl:part name="parameters" element="tns:CopyDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCount" />
  </wsdl:message>
  <wsdl:message name="IService_GetCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCountResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="CreateEmpty">
      <wsdl:input wsaw:Action="http://tempuri.org/ILowLevel/CreateEmpty" message="tns:IService_CreateEmpty_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILowLevel/CreateEmptyResponse" message="tns:IService_CreateEmpty_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Create">
      <wsdl:input wsaw:Action="http://tempuri.org/ILowLevel/Create" message="tns:IService_Create_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILowLevel/CreateResponse" message="tns:IService_Create_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Read">
      <wsdl:input wsaw:Action="http://tempuri.org/ILowLevel/Read" message="tns:IService_Read_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILowLevel/ReadResponse" message="tns:IService_Read_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Write">
      <wsdl:input wsaw:Action="http://tempuri.org/ILowLevel/Write" message="tns:IService_Write_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILowLevel/WriteResponse" message="tns:IService_Write_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/ILowLevel/Delete" message="tns:IService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILowLevel/DeleteResponse" message="tns:IService_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Append">
      <wsdl:input wsaw:Action="http://tempuri.org/ILowLevel/Append" message="tns:IService_Append_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILowLevel/AppendResponse" message="tns:IService_Append_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Move">
      <wsdl:input wsaw:Action="http://tempuri.org/ILowLevel/Move" message="tns:IService_Move_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILowLevel/MoveResponse" message="tns:IService_Move_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Copy">
      <wsdl:input wsaw:Action="http://tempuri.org/ILowLevel/Copy" message="tns:IService_Copy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILowLevel/CopyResponse" message="tns:IService_Copy_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadData">
      <wsdl:input wsaw:Action="http://tempuri.org/ILowLevel/ReadData" message="tns:IService_ReadData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILowLevel/ReadDataResponse" message="tns:IService_ReadData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MoveData">
      <wsdl:input wsaw:Action="http://tempuri.org/ILowLevel/MoveData" message="tns:IService_MoveData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILowLevel/MoveDataResponse" message="tns:IService_MoveData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CopyData">
      <wsdl:input wsaw:Action="http://tempuri.org/ILowLevel/CopyData" message="tns:IService_CopyData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILowLevel/CopyDataResponse" message="tns:IService_CopyData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCount">
      <wsdl:input wsaw:Action="http://tempuri.org/ILowLevel/GetCount" message="tns:IService_GetCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILowLevel/GetCountResponse" message="tns:IService_GetCount_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateEmpty">
      <soap:operation soapAction="http://tempuri.org/ILowLevel/CreateEmpty" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create">
      <soap:operation soapAction="http://tempuri.org/ILowLevel/Create" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Read">
      <soap:operation soapAction="http://tempuri.org/ILowLevel/Read" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Write">
      <soap:operation soapAction="http://tempuri.org/ILowLevel/Write" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/ILowLevel/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Append">
      <soap:operation soapAction="http://tempuri.org/ILowLevel/Append" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Move">
      <soap:operation soapAction="http://tempuri.org/ILowLevel/Move" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Copy">
      <soap:operation soapAction="http://tempuri.org/ILowLevel/Copy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadData">
      <soap:operation soapAction="http://tempuri.org/ILowLevel/ReadData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MoveData">
      <soap:operation soapAction="http://tempuri.org/ILowLevel/MoveData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CopyData">
      <soap:operation soapAction="http://tempuri.org/ILowLevel/CopyData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCount">
      <soap:operation soapAction="http://tempuri.org/ILowLevel/GetCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:59463/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>